/* General styling */

:root {
  --orange: #ff7b54;
  --white: #ffffff;
  --black: #000000;
  --inter: Inter, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--orange);
  font-family: var(--inter);
}

/* Nav styling */

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.menu {
  color: var(--white);
}

h1 {
  font-weight: bolder;
  font-size: 20px;
  margin-left: 60px;
}

.nav-links {
  display: flex;
  margin-right: 60px;
  flex-basis: 20%;
}

a {
  text-decoration: none;
  color: var(--orange);
}

ul {
  list-style-type: none;
  visibility: hidden;
}

li {
  display: inline;
  padding: 18px;
  font-size: 20px;
  font-weight: lighter;
}

.cart {
  padding-left: 18px;
}

/* Main text styling */

.speaker-img {
  height: 162px;
  width: 162px;
  object-fit: cover;
}

main {
  margin-left: 2rem;
}

p {
  width: 80%;
}

.jumbotron {
  font-weight: bolder;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 0;
}
.sub-jumbo {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 4rem;
}

/* button styling */

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 50px;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--white);
  color: var(--orange);
  border: none;
}

.btn-img {
  padding: 10px;
  height: 35px;
}

.contact-button {
  background-color: var(--orange);
  color: var(--white);
  border: 4px solid var(--white);
}

@media (min-width: 750px) {
  /* Nav styling */

  header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  /* TODO: make this fully disappear, fix h1 alignment */
  .menu {
    visibility: hidden;
    height: 0;
  }

  h1 {
    font-weight: bolder;
    font-size: 40px;
    margin-left: 60px;
  }

  .nav-links {
    display: flex;
    margin-right: 60px;
  }

  ul {
    visibility: visible;
  }

  li {
    display: inline;
    padding: 18px;
    font-size: 20px;
    font-weight: lighter;
  }

  .cart {
    padding-left: 18px;
  }

  /* Main text styling */

  main {
    margin-left: 100px;
    text-wrap: balance;
  }

  /* TODO: BALANCE TEXT TO MATCH FIGMA */

  p {
    /* width: 80%; */
  }

  .jumbotron {
    font-weight: bolder;
    font-size: 128px;
    line-height: 120%;
    margin-bottom: 0;
  }
  .sub-jumbo {
    font-size: 40px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* button styling */

  .button-container {
    display: flex;
    flex-flow: row wrap;
  }

  button {
    font-size: 32px;
    font-weight: bolder;
    height: 100px;
    padding: 1rem 4rem;
    margin-top: 100px;
  }
  .btn-img {
    margin-left: 0.5rem;
    height: 80%;
  }

  .contact-button {
    margin-left: 20px;
  }
}
