/* General styling */

:root {
  --orange: #ff7b54;
  --white: #ffffff;
  --black: #000000;
  --inter: Inter, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--inter);
}

/* Nav styling */

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-weight: bolder;
  font-size: 20px;
  margin-left: 60px;
}

.nav-links {
  display: flex;
  margin-right: 60px;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 18px;
  font-size: 20px;
  font-weight: lighter;
}

.cart {
  padding-left: 18px;
}

/* Main text styling */

main {
  margin-left: 100px;
}

p {
  width: 80%;
}

.jumbotron {
  font-weight: bolder;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 0;
}
.sub-jumbo {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
}

/* button styling */

button {
  font-size: 32px;
  height: 100px;
  padding: 1rem 4rem;
  margin-top: 100px;
  background-color: var(--white);
  color: var(--orange);
  border: none;
}

.contact-button {
  margin-left: 20px;
  background-color: var(--orange);
  color: var(--white);
  border: 4px solid var(--white);
}

@media (min-width: 750px) {
  /* Nav styling */

  header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-weight: bolder;
    font-size: 40px;
    margin-left: 60px;
  }

  .nav-links {
    display: flex;
    margin-right: 60px;
  }

  li {
    display: inline;
    padding: 18px;
    font-size: 20px;
    font-weight: lighter;
  }

  .cart {
    padding-left: 18px;
  }

  /* Main text styling */

  main {
    margin-left: 100px;
  }

  p {
    width: 80%;
  }

  .jumbotron {
    font-weight: bolder;
    font-size: 128px;
    line-height: 120%;
    margin-bottom: 0;
  }
  .sub-jumbo {
    font-size: 40px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* button styling */

  button {
    font-size: 32px;
    height: 100px;
    padding: 1rem 4rem;
    margin-top: 100px;
    background-color: var(--white);
    color: var(--orange);
    border: none;
  }

  .contact-button {
    margin-left: 20px;
    background-color: var(--orange);
    color: var(--white);
    border: 4px solid var(--white);
  }
}
