/* General styling */

:root {
  --color-primary: #ff7b54;
  --color-secondary: #ffffff;
  --color-tertiary: #000000;
  --font-primary: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
