/* General styling */

:root {
  --color-primary: #ff7b54;
  --color-secondary: #ffffff;
  --color-tertiary: #000000;
  --color-button-border: var(--color-secondary);
  --color-button-primary-bg: var(--color-secondary);
  --color-button-primary-text: var(--color-primary);
  --font-primary: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.nav {
  display: inline-flex;
  align-items: center;
  justify-self: end;
}

.nav__list {
  list-style-type: none;
  display: flex;
}
.nav__list-item {
  /* MARGIN INLINE END is more responsive for languages read right-left*/

  margin-inline-end: 36px;
}
/* Header/Nav styling */

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav shopping-cart";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 60px;
}

.header__link {
  font-size: 40px;
  font-weight: bolder;
}

.header img {
  grid-area: shopping-cart;
  padding-top: 36px;
}

.button {
  font-size: 32px;
  height: 100px;
  padding: 1rem 4rem;
  margin-top: 100px;
  cursor: pointer;
  transition: outline 0.2s linear;
}

.button:hover, button:focus {
  outline: 2px solid var(--color-secondary);
}


